---
import { Container, FeatureCard} from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>ุฎุฏูุงุช</h2>
			<p>
ุงูุชุดููุง ููุฉ ุงูุฐูุงุก ุงูุงุตุทูุงุนู ูุน ุฎุฏูุงุชูุง ุงููุชุทูุฑุฉ ุงููุตููุฉ ุฎุตูุตูุง ููุบุฉ ุงูุชููุณูุฉ ุงูุนุฑุจูุฉ: ููุฏู ููู ููุงููู ุชููุณูุฉ ุนุงูุฉ ุฐููุฉ ูุดุงููุฉ ุชุบุทู ูู ูุง ุชุญุชุงุฌููู ูู ุงููุงููุฉ ุฅูู ุงูุณูุงุณุฉุ ููู ุงูุชุตููุน ุฅูู ุงููุถุงูุง ุงููุฏููุฉ. ุชุฑูุจูุง ุฎุฏูุชูุง ุงููุงุฏูุฉ ุงูุชู ุณุชุฑูุฒ ุนูู ููุงููู ุงูุดุฑูุงุช ูุงูุชูููู ุงููุงููุ ูุณุชุณุงุนุฏูู ุนูู ุชุญููู ุฃูุฏุงููู ุจุณูููุฉ ููุนุงููุฉ. ูุง ุชููุชูุง ูุฑุตุฉ ุงูุงุณุชูุงุฏุฉ ูู ุญููููุง ุงููุงููููุฉ ุงูุฐููุฉ ูุงููุจุชูุฑุฉ!
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="https://ticket.aibc.tn/" title="ุชุฐุงูุฑ" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="https://tn.aibc.tn/" title="ูุฑุดุฏ ุงูููุงููู ุงูุชููุณูุฉ ุงูุนุงูุฉ " imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
        <FeatureCard href="#" title="(ูุฑูุจุงู) ูุฑุดุฏ Entreprise - ุดุฑูุฉ ูุฑุดุฏ" imgSrc="/assets/images/home/screenshots/landing-3">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>ุตูุญุงุช ุงูุดุฑูุฉ</h2>
			<p>
๐ **ุชุตูุญ ูููุนูุง ููุญุตูู ุนูู ุฃุญุฏุซ ุงูููุงูุงุช ูุงูุฃุฎุจุงุฑ ูุงูุตููุงุช ุงูุฏูููุฉ** ๐! ๐ **ุชุฑูุจ ููุงุนูุฏ ุชุทุจูููุง ุนูู ููุตุชูุง ูุฑูุจุงู** ๐. 

๐ **ุณุชููู ููุตุชูุง ูุญุฏุซุฉ ููููุงู ุจุงูุฃุฎุจุงุฑ** ๐ฐ **ูุชุถูู ุจูุงุฆู ุนูู ุงุทูุงุน ุฏุงุฆู ูุจุนูุฏุงู ุนู ุงูุชุฃุฎุฑ** โฐ. 

๐ **ุงูุถู ุฅูููุง ุงูุขู ูุงุณุชูุชุน ุจุงูุชุญุฏูุซุงุช ุงูููุฑูุฉ** ๐ผโจ!
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="ููุฎุต" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/company/contact" title="ุตูุญุฉ ุงูุงุชุตุงู" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/blog/" title="CLT ุงููุฏููุฉ" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>

				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
					title="ุงูุตูุญุฉ ุงููุงููููุฉ"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>


</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
