---
import { SkipLink } from '@littlesticks/odyssey-theme-components';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<SkipLink />
    <slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
<!--
Paste this script at the bottom of your HTML before the </body> tag.
See more style and config options on our docs
https://github.com/Mintplex-Labs/anything-llm/tree/master/embed/README.md
-->
<script
  data-embed-id="022a2dac-7c2b-4047-bae8-78b1ef58b23f"
  data-base-api-url="https://tn.aibc.tn/api/embed"
  src="https://tn.aibc.tn/embed/anythingllm-chat-widget.min.js">
</script>
<!-- CLT (https://useanything.com) -->

