---
import { SkipLink } from '@littlesticks/odyssey-theme-components';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<SkipLink />
    <slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
   <script
    data-greeting="مرحباً! كيف يمكننا مساعدتك اليوم؟"
    data-brand-image-url="https://raw.githubusercontent.com/khalilxg/images/main/Screenshot_20240718_145902.png"
    data-sponsor-link="https://clt.aibc.tn"
    data-sponsor-text="Powered by CLT"
    data-assistant-name="CLT Assistant"
    data-assistant-icon="https://raw.githubusercontent.com/khalilxg/images/main/Screenshot_20240718_145902.png"
    data-chat-icon="support"
    data-support-email="aimedia.flow@gmail.com"
  data-embed-id="022a2dac-7c2b-4047-bae8-78b1ef58b23f"
  data-base-api-url="https://tn.aibc.tn/api/embed"
  src="https://tn.aibc.tn/embed/anythingllm-chat-widget.min.js">
  </script>
	</body>
</html>
