---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'ملخص |  CLT Theme',
	description: 'ملخص',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>CLT: س-ل-ت</h1>
			<p>
هي منصة تستخدم الذكاء الاصطناعي لإحياء الكتب عن طريق تحويلها إلى واجهات دردشة للتعرف عليها بشكل أفضل. تعمل س-ل-ت على إزالة عائق القراءة أو الفهم للأشخاص الذين يجدون صعوبة في قراءة أو فهم الكتب المعقدة. لقد حولت س-ل-ت قوانين تونس إلى واجهات دردشة، وقريباً سنطلق خدمات أخرى لتحويل القواعد المالية والتجارية المعقدة إلى أمور فائقة السهولة للفهم. س-ل-ت تعمل على تغيير طريقة التعلم من خلال تحويل النصوص المعقدة إلى دردشة تفاعلية.			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
س-ل-ت هي منصة مبتكرة تستخدم الذكاء الاصطناعي لإحياء الكتب وتحويلها إلى واجهات دردشة تفاعلية تسهل الفهم والتعلم. تعمل س-ل-ت على إزالة العوائق التي تواجه الأشخاص الذين يجدون صعوبة في قراءة أو فهم الكتب المعقدة. لقد قمنا بتحويل قوانين تونس إلى واجهات دردشة سهلة الاستخدام، وسنطلق قريباً خدمات جديدة لتحويل القواعد المالية والتجارية المعقدة إلى معلومات بسيطة وسهلة الفهم    </p>
    
    <p>
قوم يومياً بتحديث منصتنا الذكية لتتوافق مع أحدث القوانين واللوائح التي تصدر في البلاد، مما يضمن أن يكون المواطنون دائماً على دراية بالتحديثات الجديدة. استخدام خدمات س-ل-ت سهل وبسيط، كل ما عليك فعله هو شراء بطاقات مسبقة الدفع، تماماً كما تفعل للحصول على الرصيد لإجراء المكالمات. خدمة س-ل-ت متاحة الآن بسعر 50 دينار تونسي، وتتيح لك إرسال 50 رسالة. 50 رسالة تكفي لحل جميع مشاكلك، وإذا لم تكن كافية، يمكنك ببساطة شراء بطاقة أخرى حتى تحل جميع مشاكلك.    <p>
س-ل-ت هي شريكك المستقبلي في المعرفة والمعلومات، ورفيقك الأمثل للحصول على أحدث المعلومات بطريقة سهلة ومبسطة. انضم إلينا اليوم واستمتع بتجربة تعلم جديدة ومبتكرة!  </p>
  </TextSection>
</Layout>
