---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Legal Page |  CLT Theme`,
  description: `This is the legal page template. It is a great starter for your company's Terms of Service, Terms & Conditions, Privacy Policy, etc.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>الصفحة القانونية</h1>

    <p>تُعَدُّ منصة س-ل-ت تجسيداً مبتكراً للاستفادة من تقنيات الذكاء الاصطناعي لتقديم خدمات مُتقدمة للمواطنين. ورغم أنها لا تسعى لتحل محل الكيانات التقليدية الراسخة، فإنها تُساهم في تيسير الوصول إلى المعلومات وتعزيز فاعلية الخدمات المتاحة. تستند س-ل-ت في نهجها إلى تقديم وسيلة مُكمِّلة تُعزِّز من قدرات الأفراد على التعاطي مع المعلومات بمرونة وسرعة أكبر.

تعتمد خدمات الذكاء الاصطناعي في س-ل-ت على آليات معقدة للتنبؤ تستند إلى تحليلات متقدمة ومعالجة بيانات ضخمة. ورغم أن هذه التنبؤات تُعَدُّ نتاج عمليات حسابية مُتطورة، فإنها تظل، بحكم طبيعتها، قابلة للتغيير والتعديل المستمر بناءً على البيانات المُتاحة والظروف المتغيرة. لذا، فإن المعلومات المُقدَّمة من خلال هذه الخدمات هي نتاج هذه التنبؤات الحسابية.

من خلال تبني نماذج تعلم الآلة، تُعالج منصة س-ل-ت كميات ضخمة من البيانات لاستخلاص أنماط واستنتاجات معرفية تُسهم في تحسين دقة المعلومات المقدمة. لكن، نظراً لتعقيد وتنوع البيانات والبيئات المُتغيرة، فإن نتائج هذه العمليات تظل مُتجددة باستمرار وتعتمد على مدى دقة البيانات المُدخلة والتحديثات المستمرة للنماذج.

وفي الصفحة القانونية للمنصة، ينبغي التركيز على أن س-ل-ت تُقدِّم خدمات تُكمِّل الجهود التقليدية ولا تستهدف الاستبدال. وينبغي أن يُدرك المستخدمون أن المعلومات المقدمة هي جزء من إطار تنبؤي مُعقَّد، وأن الرجوع إلى المصادر المُختصة للحصول على المشورة النهائية يظل أمراً حيوياً. تُخلي س-ل-ت مسؤوليتها عن أي قرارات تُتخذ بناءً على هذه المعلومات، مؤكدةً على دورها كمُعزز وداعم للمعلومات المتاحة.</p>

    <h2>شروط الخدمة</h2>

    <p>يجب أن يشترط شراء رموز منصة س-ل-ت عبر cltpay.aibc.tn كشرط لاستخدام الخدمة، مع تحديد الاستخدام الشرعي للخدمات والقيود المفروضة على استخدام البيانات المتاحة.</p>


    <h2>سياسة الخصوصية</h2>

    <p>
يجب أن يتم توضيح أن منصة س-ل-ت لا تحتفظ بأي نقاشات، وأن جميع المحادثات يتم حذفها تلقائياً بعد فترة معينة لضمان عدم امتلاء قاعدة البيانات. يجب أن تشتمل سياسة الخصوصية أيضاً على شروط الأمان المتبعة والإجراءات المتعلقة بالبيانات الشخصية للمستخدمين، وكيفية استخدامها وحفظها بشكل آمن ومؤمن.
    </p>


  </TextSection>
</Layout>